
<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <% if(user.isAdmin){%><span class="fs-5 d-none d-sm-inline">Admin View</span><%}else{%>
                     <span class="fs-5 d-none d-sm-inline">Employees View</span>
                <%}%>
              </a>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item ">
                      <a href="#" id ="employee-section-anchor" class="nav-link align-middle px-0">
                        <% if(user.isAdmin){%>  <span class="ms-1 d-none d-sm-inline">Employees Section</span> <svg id ="right-arrow-admin-employee" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                          </svg>
                          <%}else{%>
                            <span class="ms-1 d-none d-sm-inline">Employee Home</span>      <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                              </svg>
                        <%}%>
                      </a>
                  </li>
                  <% if(user.isAdmin){%>
                  <li>
                      <a href="#"  id ="performance-section-anchor" class="nav-link px-0 align-middle">
                         <span class="ms-1 d-none d-sm-inline">Performance Section</span>  <svg id ="right-arrow-admin-performance" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                          </svg></a>
                  </li>
                  <% } %> 
              </ul>
              <hr>
              <div class="dropdown pb-4">
                  <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="https://github.com/NavnathGunjal07/codeial/blob/main/assets/images/user_default.png?raw=true" alt="hugenerd" width="30" height="30" class="rounded-circle">
                      <span class="d-none d-sm-inline mx-1"><%=user.name%></span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="/users/sign-out">Sign out</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col py-3">
          <% if(user.isAdmin){%>
            <div id="adminview-employee-section">
                <%- include("_adminViewEmployees.ejs") -%>
            </div>
            <div id="adminview-performance-section">
                <%- include("_performanceReviews.ejs") -%>
            </div>
        <%}else{%>
            <div id="adminview-employee-section">
                <%- include("_employeeHomePage.ejs") -%>
            </div>
        <% } %> 
      </div>
  </div>
</div>